---
import LayoutWithHeader from "../layouts/LayoutWithHeader.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");
---

<LayoutWithHeader title="titl" description="desc">
  <h1 class="text-red-400">{t("home.title")}</h1>
  <p class="text-gray-900">
    <Trans i18nKey="home.subtitle">
      This is a <em>more complex</em> string to translate, mixed with <strong
        >html elements
      </strong> such as <a href="https://example.com/">a cool link</a>!
    </Trans>
  </p>
</LayoutWithHeader>
