---
import Icon from "astro-icon";

export interface Props {
  btnColorStyle?: string;
  iconSpan?: string;
  iconName?: string;
  target?: boolean;
  link: string;
}
const {
  btnColorStyle = "bg-brand text-white hover:bg-brand/90",
  iconSpan,
  iconName = "ic:twotone-arrow-right-alt",
  target = false,
  link,
} = Astro.props;
---

<a
  target={target && "_blank"}
  href={link}
  class={`inline-flex items-center tracking-wider px-8 py-4 font-semibold text-xs duration-700 transition-colors uppercase rounded group ${btnColorStyle}`}
>
  <slot />
  <span class={`flex items-center ml-2 ${iconSpan}`}>
    <Icon
      name={iconName}
      class="h-5 w-5 duration-500 transform group-hover:translate-x-1"
    />
  </span>
</a>
