---
import LayoutWithHeader from "../../layouts/LayoutWithHeader.astro";
import { changeLanguage } from "i18next";

changeLanguage("sq");
---

<LayoutWithHeader title="titl" description="desc">
<h1 class="text-red-400">services</h1>
</LayoutWithHeader>

